h1, h2{
    text-align: center;
    color: white;
}

h4, h5, .btn{
    color: white;
}

section{
    padding-top: 30px;
    padding-bottom: 10px;
}

.logoImage{
    width: 300px;
    height: 300px;
}

form{
    width: 50%;
    margin: auto;
}

#designSet, #codingSet{
    padding: 2%;
}

.btn.active{
    background-color: #007BFF;
}

.btn-group{
    border-radius: 6px;
    border: solid white 2px;
}

.deckSwitch:hover{
    color: black;
    background-color: lightblue;
}

.btn-user-interactable{
    border: 2px solid orange;
    border-radius: 10px;
}

.btn-user-interactable:hover{
    background-color: orange;
    font-weight: bold;
}

.card {
    min-height: 181px;
    transition: transform 0.3s;
}

.card .card-header{
    font-weight: bold;
}

.card img{
    min-width: 100%;
    min-height: 60%;
}

.card-hyperlink{
    text-decoration: none;
    color: black;
}

.card-hyperlink:hover{
    color: black;
}

#description{
    color: white;
}

.secondary-container{
    padding-left: 5%;
    padding-right: 5%;
}

#face{
    width: 50%; 
}

.card:hover{
    transform: scale(1.1);
}

.card-img-container{
    max-height: 100px;
    overflow: hidden;
}