h1, h2{
    text-align: center;
    color: white;
}

h5, .btn{
    color: white;
}

section{
    padding-top: 30px;
    padding-bottom: 10px;
}

.logoImage{
    width: 300px;
    height: 300px;
}

form{
    width: 50%;
    margin: auto;
}

.glass{
    backdrop-filter: blur(10px);
}

#designSet, #codingSet{
    padding: 2%;
}

.btn.active{
    background-color: #007BFF;
}

.btn-group{
    border-radius: 6px;
    border: solid white 2px;
}

.btn:hover{
    background-color: grey;
    color:white
}

.card {
    min-height: 181px;
}

.card .card-header{
    font-weight: bold;
}

.card img{
    min-width: 100%;
    min-height: 60%;
}

.card-hyperlink{
    text-decoration: none;
    color: black;
}

.card-hyperlink:hover{
    color: black;
}

#description{
    color: white;
}